// colors
$white: #ffffff;
$orange: #f39c12;
$black: #0d0d0d;
$red: #e74c3c;
$gray: #737373;
$darkGray: #595959;
$lightGray: #f0f0f0;
$midiGray: #f5f5f5;





// fonts
$mainFont: 'Open Sans',
sans-serif;
$logoFont: 'Montserrat',
sans-serif;
$jobFont: 'Lato',
sans-serif;
$iconFont: 'socialico';


// screen
$tablet: 'min-width: 767px';
$desktop: 'min-width: 1024px';
$projector: 'min-width: 1200px';